/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}

.section-general {
  padding: 40px 0;
  overflow: hidden;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: rgb(255, 90, 44);
  width: 50px;
  height: 50px;
  transition: all 0.4s;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  transform: scale(1.1);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

header a {
  text-transform: uppercase;
  font-weight: 700;
}

header .logo {
  font-size: 20px;
  font-style: italic;
  margin-left: 30px;
}

header .contact-button {
  font-weight: 700;
  transition: transform 0.1s;
  font-size: 20px;
}

header .contact-button:hover {
  transform: scale(1.02);
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
  margin-right: 30px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  color: #fff;
  height: 170vh;
  position: relative;
  margin-top: -80px;
  background-image: url(../img/working-img-4.jpg);
  background-size: cover;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.hero-text {
  font-size: 38px;
}

.icon-hero {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  /* text-align: center; */
  /* width: 100%; */
}

.hero-text-three {
  font-size: 28px;
}

.span-hero {
  font-weight: bolder;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    text-align: center;
  }

  #hero .container {
    padding-top: 40px;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-title {
  font-size: 28px;
  margin-bottom: 70px;
}

.about-span {
  font-weight: 700;
  font-size: 29px;
}

.about-span-two {
  font-weight: 400;
}

.container-client {
  margin-bottom: 70px;
}

.about-container {
  position: relative;
  margin-top: 20px;
  margin-bottom: 70px;
}

.about-p {
  font-size: 20px;
}

.about-p-two {
  font-size: 20px;
  margin-top: -15px;
}

.about-sub {
  margin-top: 70px;
  font-size: 21px;
  font-weight: bolder;
  margin-bottom: 50px;
}

.img-client {
  width: 140px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.img-client:hover {
  filter: grayscale(0%);
}

.about-p-span {
  font-weight: bolder;
}

.about-p-two {
  font-weight: bold;
}

/*--------------------------------------------------------------
ouer-offer
--------------------------------------------------------------*/
.ouer-offer {
  /* background: #f2f2f2; */
  color: #fff;
  background-image: linear-gradient(94.2deg, rgb(18, 38, 77) -13.61%, rgb(132, 12, 49) 16.11%, rgb(199, 9, 39) 46.25%, rgb(252, 102, 35) 76.61%, rgb(255, 189, 48) 107.8%);
  border-radius: 10px;
  padding: 70px;
}

.ouer-offer h3 {
  text-transform: uppercase;
  font-weight: bolder;
}

.ouer-container-one {
  position: relative;
  left: 80px;
}

.ouer-text {
  font-size: 70px;
}

.ouer-offer p {
  font-size: 20px;
}

@media (max-width: 990px) {
  .ouer-container-one {
    text-align: center;
    left: 0;
    bottom: 15px;
  }

  .ouer-container-two {
    text-align: center;
  }
}

/*--------------------------------------------------------------
# why Section
--------------------------------------------------------------*/
.why-section-one {
  margin: 30px;
}

.why-section h2 {
  font-weight: bolder;
}

.why-text-one {
  font-size: 22px;
}

.why-text-two {
  font-size: 28px;
  margin-top: 20px;
}

.card-1 {
  background: rgb(210, 210, 210);
}

.card-text-1 {
  color: #222;
  font-size: 17px;
  font-weight: 600
}

.card-2 {
  background: #222;
}

.card-text-2 {
  color: #fff;
  font-size: 17px;
}

.custom-card {
  border: none;
  transition: transform 0.2s, font-size 0.2s;

}

.custom-card:hover {
  transform: translateY(5px);
  font-size: 18px;
}

.card-img-container {
  overflow: hidden;
}

.card-img-zoom {
  transition: transform 0.3s;
}

.custom-card:hover .card-img-zoom {
  transform: scale(1.02);
}

/*-----------------------------------------------
# nearshoring Section
--------------------------------------------------------------*/
.nearshoring-section h2 {
  font-size: 22px;
  font-weight: bolder;
}

.nearshoring-section h3 {

  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: bolder;
  background-image: linear-gradient(94.17deg, rgb(18, 38, 77) 2.01%, rgb(132, 12, 49) 13.67%, rgb(199, 9, 39) 25.48%, rgb(252, 102, 35) 37.39%, rgb(255, 189, 48) 49.62%);
  -webkit-background-clip: text;
  color: transparent;  
}

.nearshoring-section h3::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(135deg, rgb(18, 38, 77) 0%, rgb(132, 12, 49) 24.48%, rgb(199, 9, 39) 49.3%, rgb(252, 102, 35) 74.31%, rgb(255, 189, 48) 100%);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  border: none;
}

.nearshoring-section p {
  font-weight: 400;
  font-size: 18px;
  /* line-height: 1.406rem; */
  /* letter-spacing: -0.02em; */
}

.nearshoring-section .items {
  /* background: rgb(210, 210, 210); */
  /* color: rgb(0, 0, 0); */
  box-shadow: rgba(0, 0, 0, 0.06) 0px 14.2746px 41.8033px, rgba(0, 0, 0, 0.047) 0px 7.58112px 21.7435px, rgba(0, 0, 0, 0.03) 0px 3.15467px 9.13388px;
  padding: 14px;
  border-radius: 14px;
}

/*-----------------------------------------------
# testimonial Section
--------------------------------------------------------------*/
.testimonials {
  /* background-color: #f2f2f2; */
  color: #fff;
  background-image: linear-gradient(94.2deg, rgb(18, 38, 77) -13.61%, rgb(132, 12, 49) 16.11%, rgb(199, 9, 39) 46.25%, rgb(252, 102, 35) 76.61%, rgb(255, 189, 48) 107.8%);

}

.carrousel-container {
  margin-top: 20px;
}

.testimonials h2 {
  font-size: 22px;
  font-weight: bolder;
}

.testimonials .quotes {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 72px;
  font-weight: 700;
  margin-bottom: -40px;
}

.testimonials .carrousel-text {
  font-size: 36px;
}

.testimonials .carrousel-text-two {
  font-size: 22px;
  font-weight: bolder;
  margin-top: 60px;
}

/*--------------------------------------------------------------
Counts
--------------------------------------------------------------*/

.counts-section {
  margin-top: 40px;
}

.counts-section h2 {
  margin-top: 15px;
  margin-bottom: 50px;
}

.counts-section p {
  font-weight: bolder;
  text-transform: uppercase;
  margin-top: -14px;
}

.counts-box {
  text-align: center;
  margin: 0 12px;
}

.counts-box .span-add {
  font-size: 40px;
}

.counts-box span {
  font-size: 60px;
  display: block;
  font-weight: 700;
  color: #e84118;
  line-height: 90px
    /* font-size: 46px; */
}

.counts-box p {
  font-weight: bolder;
  font-family: "sans-serif";
  font-size: 22px;
}

/*--------------------------------------------------------------
Final section
--------------------------------------------------------------*/
.final-section {
  margin-top: 60px;
  padding: 20px 0px;
}

.final-p {
  font-size: 38px;
  text-transform: uppercase;
  margin-top: 60px;
}

.about-text-final {
  font-size: 26px;

}

